/* Tailwidn css Config */
@tailwind base;
@tailwind components;
@tailwind utilities;

.pages {
  background-color: #f7f7fb;
  width: fit-content;
}

select {
  background-color: transparent;
}

/* shape-animation */
.top-shape {
  animation: topshape 3s infinite;
}

@keyframes topshape {
  0% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-8px);
  }
}

.btm-shape {
  animation: btmshape 3s infinite;
}

@keyframes btmshape {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.line-shape {
  animation: lineshape 10s infinite;
}

@keyframes lineshape {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.square-shape {
  animation: squareshape 10s infinite;
}

@keyframes squareshape {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.line-shape-right {
  animation: lineshapeRight 4s infinite;
}

@keyframes lineshapeRight {
  0% {
    transform: scale(0.9) translateX(15px);
  }
  50% {
    transform: scale(1) translateX(-15px);
  }
  100% {
    transform: scale(0.9) translateX(15px);
  }
}

.big_circle {
  animation: bigcircle 3s infinite;
}

@keyframes bigcircle {
  0% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

.big_circle_left {
  animation: bigcircleleft 3s infinite;
}

@keyframes bigcircleleft {
  0% {
    transform: scale(1.3) translateY(-15px);
  }
  50% {
    transform: scale(1) translateY(15px);
  }
  100% {
    transform: scale(1.3) translateY(-15px);
  }
}

.triangle {
  animation: triangle linear 15s infinite;
}

@keyframes triangle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* menu scrollbar */
.main-menu::-webkit-scrollbar {
  width: 8px;
}

.main-menu::-webkit-scrollbar-thumb {
  background-color: #c5c7ca;
  border-radius: 5px;
}

/* Radio custiomization */
.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.radio-input {
  display: none;
}

.radio_radio {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #dedfdf;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 2px;
}

.radio_radio:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #5093f3;
  border-radius: 50%;
  transform: scale(0);
}

.radio-input:checked + .radio_radio:after {
  transform: scale(1);
}

/* active button */

.active_button {
  background-color: #f0f2f5;
}

.active svg {
  fill: #5093f3;
}

.active_button svg {
  fill: #5093f3;
}

/* header responsive */

@media (max-width: 575.99px) {
  .search {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .searchbox {
    width: 313px;
  }

  .main_menu {
    width: 317px;
  }
}

@media (min-width: 768px) and (max-width: 1022px) {
  .right-part {
    width: 220px;
  }

  .main_menu {
    width: 643px;
  }
}

/* @media (max-width: 767.99px) {
  .main_menu {
    width: 400px;
  }

  .right-part {
    width: 220px;
  }
} */

.massonary img:nth-child(1) {
  grid-row: 1/3;
}

.massonary2 img:nth-child(1) {
  grid-row: 2/3;
}

.bgPost {
  height: 350px;
  width: 100%;
  background-size: cover;
}

.bgPost textarea {
  background: transparent;
  text-align: center;
  height: 100%;
  color: #fff;
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
  font-family: "Hind Siliguri", "sans-serif";
}

.bgPost textarea::-webkit-scrollbar {
  width: 8px;
}

.bgPost textarea::-webkit-scrollbar-thumb {
  background-color: #c5c7ca;
  border-radius: 5px;
}

.bgPost textarea::placeholder {
  color: rgba(255, 255, 255, 0.685);
}

.authorize_err {
  animation: animate 0.2s linear;
}

@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.show_reacts {
  animation: animate 0.2s linear;
}

@keyframes animate {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
