/* Tailwidn css Config */
@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  background-color: transparent;
}

/* shape-animation */
.top-shape {
  animation: topshape 3s infinite;
}

@keyframes topshape {
  0% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-8px);
  }
}

.btm-shape {
  animation: btmshape 3s infinite;
}

@keyframes btmshape {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.line-shape {
  animation: lineshape 10s infinite;
}

@keyframes lineshape {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.square-shape {
  animation: squareshape 10s infinite;
}

@keyframes squareshape {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.line-shape-right {
  animation: lineshapeRight 4s infinite;
}

@keyframes lineshapeRight {
  0% {
    transform: scale(0.9) translateX(15px);
  }
  50% {
    transform: scale(1) translateX(-15px);
  }
  100% {
    transform: scale(0.9) translateX(15px);
  }
}

.big_circle {
  animation: bigcircle 3s infinite;
}

@keyframes bigcircle {
  0% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

.big_circle_left {
  animation: bigcircleleft 3s infinite;
}

@keyframes bigcircleleft {
  0% {
    transform: scale(1.3) translateY(-15px);
  }
  50% {
    transform: scale(1) translateY(15px);
  }
  100% {
    transform: scale(1.3) translateY(-15px);
  }
}
